<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="E.g. Grocery Shopping" name="description"><%= reminderItem.description %></textarea>
    </div>

    <div class="form-group">
      <label for="tags">Tags</label>
      <textarea class="form-control" id="tagsInput" rows="1" placeholder="E.g. #food, #shopping" name="tags"><%= reminderItem.tags %></textarea>
    </div>

    <div>
      <label for="subtasks">Subtasks</label>
      <textarea class="form-control" id="subtasksInput" rows="1" placeholder="E.g. Buy apples, Buy bananas" name="subtasks"><%= reminderItem.subtasks %></textarea>
    </div>

    <div class="form-group" style="margin-top: 15px;">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
